body{
  background-color: cadetblue;
  margin: 0;
}

h1{
  color: white;
}

#container{
  height: 100%;
  text-align: center;
  
}

#form-left {
    float: left;
    /* margin-left: 30%; */
  }
  
#buttons{
  text-align: center;
  width: 500px;
  display: inline-block;
  padding-left: 130px;
  margin-top: 50px;
}
table{
  width: 100%;
  margin: 0;
}

button {
  background-color: rgb(11, 106, 179);
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  cursor: pointer;
  padding: 6px 16px;
  color: white;
}

button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

button:hover {
  background-color: #073263;
}

#container {
  text-align: center;
}

td {
  height: 30px;
  line-height: 30px;
}

tr:nth-child(even){
  background-color: ghostwhite;
}

tr:nth-child(odd){
  background-color: lavender ;
}

ul{
  list-style-type: none;
  display: inline-block;
}

li{
  text-align: left;
  color: white;
}

nav {
  background-color: #333;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}